# Игнорируем бинарник Go
calculator

# Игнорируем временные файлы Docker и логи
*.log
.DS_Store
tmp/

# Игнорируем данные сертификатов (они секретны!)
/etc/letsencrypt/

# Секретные ключи и переменные окружения
.env