<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>Barbie Calc for Vio</title>
    <link rel="icon" type="image/png" href="/static/icon.png">
    <link rel="manifest" href="/static/manifest.json">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="BarbieCalc">
    <link rel="apple-touch-icon" href="/static/icon.png">
</head>
<body>
    <div class="calculator">
        <div class="header-container">
            <div class="logo">BarbieCalc</div>
            
            <div class="header-actions">
                <button id="authBtn" onclick="toggleAuthModal()" class="auth-toggle-btn">Войти</button>
                <button class="btn-history-icon" onclick="toggleModal()">
                    <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline>
                    </svg>
                </button>
            </div>
        </div>
        <div class="modal-overlay" id="historyModal">
            <div class="modal-header">
                <span>Прошлые действия</span>
                <button class="modal-close" onclick="toggleModal()">×</button>
            </div>
            <div class="modal-body" id="modalHistoryList"></div>
        </div>

        <div class="screen">
            <div class="history" id="history"></div>
            <div class="display" id="display">0</div>
        </div>
        
        <div class="buttons">
            <button class="btn-action" onclick="clearAll()">AC</button>
            <button class="btn-action" onclick="deleteLast()">⌫</button>
            <button class="btn-action" onclick="appendValue('%')">%</button>
            <button class="btn-operator" onclick="appendValue('÷')">÷</button>
            
            <button class="btn-number" onclick="appendValue('7')">7</button>
            <button class="btn-number" onclick="appendValue('8')">8</button>
            <button class="btn-number" onclick="appendValue('9')">9</button>
            <button class="btn-operator" onclick="appendValue('×')">×</button>
            
            <button class="btn-number" onclick="appendValue('4')">4</button>
            <button class="btn-number" onclick="appendValue('5')">5</button>
            <button class="btn-number" onclick="appendValue('6')">6</button>
            <button class="btn-operator" onclick="appendValue('−')">−</button>
            
            <button class="btn-number" onclick="appendValue('1')">1</button>
            <button class="btn-number" onclick="appendValue('2')">2</button>
            <button class="btn-number" onclick="appendValue('3')">3</button>
            <button class="btn-operator" onclick="appendValue('+')">+</button>
            
            <button class="btn-number" onclick="appendValue('0')">0</button>
            <button class="btn-number" onclick="appendValue('.')">.</button>
            <button class="btn-operator btn-equal" onclick="calculate()">=</button>
        </div>

        <button id="authBtn" onclick="toggleAuthModal()" class="auth-toggle-btn">Войти</button>

        <div id="authModal" class="modal-overlay">
            <div class="modal-body auth-modal-body">
                
                <div class="auth-tabs">
                    <button id="tabLogin" class="active" onclick="switchAuthTab('login')">Вход</button>
                    <button id="tabRegister" onclick="switchAuthTab('register')">Регистрация</button>
                </div>

                <div id="loginForm" class="auth-form">
                    <input type="text" id="loginUsername" placeholder="Имя пользователя (Логин)">
                    <input type="password" id="loginPassword" placeholder="Пароль">
                    <button onclick="loginUser()">Войти</button>
                    <div id="loginError" class="auth-error"></div>
                </div>

                <div id="registerForm" class="auth-form" style="display: none;">
                    <input type="text" id="regUsername" placeholder="Придумайте логин">
                    <input type="password" id="regPassword" placeholder="Придумайте пароль">
                    <button onclick="registerUser()">Создать аккаунт</button>
                    <div id="regError" class="auth-error"></div>
                </div>

                <button class="close-auth" onclick="toggleAuthModal()">Отмена</button>
            </div>
        </div>
    </div>

    

    <script src="/static/script.js"></script>
</body>
</html>